extends layout

block content
  h1 #{title}
  h3= date
  br
  a(href="http://nasa.s4njee.com/"+prevDate) Previous Image
  if prevDate >0
    -var nextDate = prevDate - 2;
    a(class="right" href="http://nasa.s4njee.com/"+nextDate) Next Image
  img(src=img)
  p=exp
